[Unit]
Description=Reboot Manager
Documentation=man:rebootmgrd(8) man:rebootmgrctl(1)
Wants=dbus.service
After=dbus.service
After=local-fs.target

[Service]
Type=dbus
BusName=org.opensuse.RebootMgr
ExecStart=/usr/sbin/rebootmgrd
Restart=on-failure
KillMode=none

[Install]
WantedBy=multi-user.target

