[Unit]
Description=Reboot Manager
Documentation=man:rebootmgrd(8) man:rebootmgrctl(1)

[Service]
Type=dbus
BusName=org.opensuse.RebootMgr
ExecStart=/usr/sbin/rebootmgrd
Restart=on-failure

[Install]
WantedBy=multi-user.target

