[Unit]
Description=Reboot Manager
After=etcd.service
After=network.target
After=network-online.target
Wants=network-online.target
Documentation=man:rebootmgrd(8) man:rebootmgrctl(1)

[Service]
Type=dbus
BusName=org.opensuse.RebootMgr
ExecStart=/usr/sbin/rebootmgrd
Restart=on-failure

[Install]
WantedBy=multi-user.target

